<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs  %>
           <% include ../partials/footer.ejs  %>
		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="style/ie-9.css" />
		<![endif]-->		
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
        
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
         <script type="text/javascript" src="/script/Chart.js"></script>
       

        
	</head>
    
<style>
    
    *{
         -webkit-appearance: none;-webkit-border-radius: 0px;
    }    
    
    #btnCrear:hover{
        background-color: #94c9a9 !important; 
    }
    
    #btnEntrar:hover{
        background-color: white !important; 
    }
    
    @media screen and (max-width:550px){
        #btnCrear2, #btnEntrar2{
            width: 90% !important;
        }
    }
    
</style>
    
	<body class="page-login"  >

        
        <div id="fondoIphone" style="display: block; width:100%; position:fixed; top:0; bottom:0; background: url('img/fondo4.png') no-repeat; z-index:-1000; background-size:cover; background-position:center;"></div>
        
	<!-- THE HEADER -->
	<header>
		<% include ../pages/navbar.ejs %>
	</header>	 


	<!-- MAIN CONTENT -->
	<div id="content-block" style="margin-top:0px;">
		<div class="container be-detail-container">
			<div class="row">
				
                
				<div class="col-xs-12 col-md-8 col-lg-8" style="margin: 0 auto; align-items:center; float:inherit;" align="center">
                    <div class="tab-wrapper style-1" style="margin: 0 auto;" >
                        
                        <div class="container-fuild tabs-content clearfix">
                           
                            <div>
                             
                                <div class="tab-info active"  id="perfilTab">
								<div class="row">
                                    
                                    <div class="col-xs-12 col-md-12 col-lg-12 left-feild" >
					<div class="be-user-block style-3" style="background-color: rgba(255,255,255,0.5); border-radius:5px;">
						<div class="be-user-detail">
							<a class="be-ava-user style-2" >
                                <% if(imagen_url){ %>
                                    <img src="<%=imagen_url%>" style="border-radius:5px;"  alt=""> 
                              <%  }else{ %>
                                    <img src="img/Perfil.png" style="border-radius:5px; "  alt=""> 
                               <% } %>
								
							</a>
							<!-- <a class="be-ava-left btn color-1 size-2 hover-1" href="author-edit.ejs"><i class="fa fa-pencil"></i>Edit</a 
							<div class="color-4 size-2 hover-7">
								
							</div>-->
							<p class="be-use-name"><%= nombre %></p>
							<div class="be-user-info" style="color:black;">
								<%= pais%>
							</div>
						</div>
						<div class="be-user-statistic" style="border-radius:5px;">
							
							<div class="stat-row clearfix"  style="background-color:#d5573b; border-radius:5px;"><i class="fas fa-users" style="font-size:20px;"></i>   Seguidores de Spotify<span class="stat-counter"> <%=followers%></span></div>
							
						</div>
					</div>
                    									
				</div>
            
                <div class="clearfix"></div>
										<div class="col-md-12">
					
                     <h2 style="text-align: center; font-family: 'Kanit', serif; background-color: #777da7; border-radius:5px; margin-top:0; color:#FFF;">Perfil</h2>
                    
                        <br/>
                                            
                        <canvas id="myChart" width="100%" height="100%" style="background-color:rgba(255, 255, 255, 0.5); border-radius:5px; max-width:800px; margin: 0 auto;"></canvas>
                                            <br> 
                    
                    <table class="table" style="background-color: rgba(255,255,255,0.5); border-radius:5px; margin-bottom:50px;">
                        <thead>
                            <tr>
                                <th>Variables Promedio</th>
                                <td>Tu Perfil Musical</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tono">
                            </tr>
                            <tr id="vol">
                               
                            </tr>
                            <tr id="modo">
                            </tr>
                            
                            <tr id="tempo">
                                
                            </tr>
                            <tr id="duracion">
                                
                            </tr>
                            <tr id="beats">
                                
                            </tr>
                        </tbody>
                    </table>							
									</div>
								</div>
                            </div>
                                
                            </div>
                            
                            <div class="tab-info " id="topTab"> 
                                
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                            <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:10px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #885053; border-radius:5px; padding-bottom:5px;">Top 50</h2>
            
                        </div> 
                                
                       


                            <div class="row" style="margin-bottom:100px;">

                                        <% 
                                if(mensaje == 'nuevo_usuario'){ 
                                    
                                    seedTracks.forEach(function(records, index){ %>
                                
                                    <div class="col-lg-12 col-md-4 col-xs-12 col-sm-4" id="track<%=index%>" style="padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; ">
                                        
                                    <div class="be-post" style=" background-color: rgba(255,255,255,0.9); color:#d5573b; max-height:400px; max-width:250px;">
                                        
                                       <!-- <form method="post" action="/track/profile" id="trackprofile">-->
                                            <span class="be-img-block" form="trackprofile" type="submit" name="index"  value="<%=index%>" style=" -webkit-appearance: none;-webkit-border-radius: 0px;">  
                                            <% if(records.album.images[0] != undefined){ %>    
                                            <img src="<%=records.album.images[0].url%>" alt="omg" style="max-width:200px;">
                                            <% } else{ %>
                                              <img src="" alt="omg">      
                                            <%    } %>
                                            </span>   
                                        <!--</form>-->
                                        
                                        <span class="be-post-title" style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; overflow:hidden; max-height:60px;"><%= records.name %></span> 
                                        
                                        <span style="color:#885053; font-size:120%; overflow:hidden; max-height:20px;">
                                            Popularidad: <%=records.popularity%> 
                                        </span>
                                        <div class="author-post">
                                            <span style="color:#885053; font-size:150%; overflow:hidden; max-height:20px;">Por <%=records.artists[0].name%></span>
                                        </div>
                                    </div>
                                        
                                  </div>
                                
                                        
                                
                                <%})
                                    
                                    
                                }else{
                                    
                             
                                
                                seedTracks.forEach(function(records, index){ %>
                                
                                    <div class="col-lg-4 col-md-4 col-xs-12 col-sm-4" id="track<%=index%>" style="padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; ">
                                        
                                    <div class="be-post" style=" background-color: rgba(255,255,255,0.9); max-height:400px; max-width:250px; ">
                                        
                                        <!-- <form method="post" action="/track/profile" id="trackprofile" > -->
                                        <span class="be-img-block" form="trackprofile" type="submit" name="index"  value="<%=index%>" style="-webkit-appearance: none;-webkit-border-radius: 0px;"> 
                                        <% if(records.albumImagen != undefined){ %>    
                                        <img src="<%=records.albumImagen%>" alt="omg" style="max-width:200px;">
                                        <% } else{ %>
                                          <img src="" alt="omg">      
                                        <%    } %>
                                        </span>   
                                        <!-- </form> -->
                                        
                                        <span class="be-post-title" style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; overflow:hidden; max-height:60px;"><%= records.nombre %></span> 
                                       
                                        <span style="color:#885053; font-size:120%; overflow:hidden; max-height:20px;">
                                            Popularidad: <%=records.popularidad%> 
                                        </span>
                                        <div class="author-post">
                                            <span style="color:#885053; font-size:150%; overflow:hidden; max-height:20px;">Por <%=records.artistas%></span>
                                        </div>
                                    </div>
                                        
                                  </div>
                                        <br>
                                
                                <%
                                })    
                                       }
                                    
                               %>
                                
                                
                                
                                </div> 
                            </div> 
                            
                           
                            
                            
                           <div class="tab-info" id="fiestaTab">
								<div class="row" style="margin-bottom:100px;">
                                    <div class="col-lg-12 col-md-12 hidden-xs hidden-sm">
                            
                                        <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:10px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #94c9a9; border-radius:5px;">Fiesta</h2>
                                        
                                        
                                        <!--<button  type="submit" value="Submit" class="be-button-vidget " style="width:50%; border: none; background-color:#FFF; margin:0 auto; color:#94c9a9;">
                                            <i class="far fa-play-circle" style="font-size:20px; color:#94c9a9; margin-left:5px;"></i> <p style="color:#94c9a9; display:inline-block; margin-top:-5px;">Entra a la Fiesta </p> 
                                        </button>-->
                                        <br>
                                        
                                         <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border:none; background-color:#FFF;display:none; color:#94c9a9;" id="btnActualizar">
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border:none; background-color:#FFF;display:none; color:#94c9a9;" id="createPlaylist">
                                            <i class="far far fa-save" style="font-size:20px; color:#94c9a9; margin-left:5px;"></i> Guardar Playlist En Spotify 
                                        </button>
                                        
                                        
                                        <br>
                                    
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:49%;height:250px; background-color:#94c9a9cc;border-radius:5px; border: 3px solid white; color:white; display:inline-block;" id="btnCrear">
                                            
                                            <i class="fas fa-plus-square" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Crea una fiesta</p>
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:49%;height:250px; background-color:rgba(255,255,255,0.85);border-radius:5px; border: 3px solid #94c9a9; color:#94c9a9; display:inline-block;"  id="btnEntrar">
                                            <i class="fas fa-users" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Entra a una fiesta</p>
                                        </button>
                                        
                                       
                                        <div style="background-color: rgba(255,255,255,0.8); border-radius:5px; height: 200px; position:relative; padding-top:20px; display: none;" id="formCodigo">
                                        
                                            <p style="font-size: 30px; font-family: 'Kanit', sans-serif;">Ingresa el código de la fiesta</p>
                                            <form>
                                            
                                                <input type="text" id="codigoPool" class="form-control" aria-describedby="helpBlock" style="width:70%; height:50px; font-size:35px;">
                                                
                                                <button type="button" class="btn btn-default" style="margin-top:20px; width:105px;" id="formCancelar">Cancelar</button>

                                                
                                                <button type="button" class="btn btn-primary" style="margin-top:20px; width:105px" id="enterPool">Entrar</button>
                                            
                                            </form>
                                            
                                        </div>
                                       
                                        
                                    </div> 
                                    
                                    
                                    
                                    <div class="hidden-lg hidden-md col-sm-12 col-xs-12">
                            
                                        <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:0px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #94c9a9; border-radius:5px;">Fiesta</h2>
                                        
                                        
                                        
                                        <br>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:50%; border:none; background-color:#FFF;display:none; color:#94c9a9;" id="btnActualizar2">
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget" style="margin: 0 auto; width:80%; border:none; background-color:#FFF;display:none; color:#94c9a9;" id="createPlaylist2">
                                            <i class="far far fa-save" style="font-size:20px; color:#94c9a9; margin-left:5px;"></i> Guardar Playlist En Spotify 
                                        </button>
                                        
                                        
                                        
                                        <br>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:55%;height:250px; background-color:#94c9a9cc;border-radius:5px; border: 3px solid white; color:white;" id="btnCrear2">
                                            
                                            <i class="fas fa-plus-square" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Crea una fiesta</p>
                                        </button>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget " style="width:55%;height:250px; background-color:rgba(255,255,255,0.85);border-radius:5px; border: 3px solid #94c9a9; color:#94c9a9;" id="btnEntrar2">
                                            <i class="fas fa-users" style="margin-top:10px;  font-size:80px;"></i>

                                            <p style="font-size:30px; margin-top:20px;">Entra a una fiesta</p>
                                        </button>
                                        
                                        
                                        
                                        <div style="background-color: rgba(255,255,255,0.8); border-radius:5px; position:relative; padding-top:20px; display: none;" id="formCodigo2">
                                        
                                            <p style="font-size: 30px; font-family: 'Kanit', sans-serif; width:80%;">Ingresa el código de la fiesta</p>
                                            <form>
                                            
                                                <input type="text" id="codigoPool" class="form-control" aria-describedby="helpBlock" style="width:70%; height:50px; font-size:35px;">
                                                
                                                <button type="button" class="btn btn-default" style="margin:20px 0; width:105px;" id="formCancelar2">Cancelar</button>

                                                
                                                <button type="button" class="btn btn-primary" style="margin:20px 0; width:105px" id="enterPool2">Entrar</button>
                                            
                                            </form>
                                            
                                        </div>
                                        
                                        
                                        
                                    </div>
                                    
                                    
                                    
                                   
                                    
                                 
                                    
                                    <div class="pool"></div>

                               

                                   
								</div>
                            </div>
                            
                            
                            <div class="tab-info" id="ajustesTab">
								<div class="row">
								    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            
                                        <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:10px; margin-top:0px; color:#FFF; font-size: 40px; background-color: #d5573b; border-radius:5px; padding-bottom:5px;">Ajustes</h2>
            
                                    </div>
								</div>
                            </div>
                            
                            
                            
                        </div>
                    
                    
                        <div class="tab-nav-wrapper" style="position:fixed; left:0; bottom:0; z-index:10; width:100%;">
                                <div  class="nav-tab  clearfix" style="width:100%;">
                                   
                                        <div class="row" style="width:100%; margin:0; text-align:center;">
                                            
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 active" style="width:100%; margin:0; padding:0;" id="btnPerfil">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-user" style="font-size:20px; color:#777da7"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#777da7">Perfil</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item  " style="width:100%; margin:0; padding:0;" id="btnTop50">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-music" style="font-size:20px; color:#885053"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#885053">Top 50</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="width:33.333%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 " style="width:100%; margin:0; padding:0;" id="btnFiesta">
                                                    <span style="padding:10px 0 0 0;"><i class="far fa-play-circle" style="font-size:20px; color:#94c9a9"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#94c9a9">Fiesta</span>
                                                </div>
                                            </div> 
                                            <!--<div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 " style="width:100%; margin:0; padding:0;" id="btnAjustes">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-cogs" style="font-size:20px; color:#d5573b"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#d5573b">Ajustes</span>
                                                </div>
                                            </div> -->
                                    </div>
                                        
                        </div>
                         </div>
                    </div>				
				</div>				
			</div>
            
		</div>
	</div>
            
        
        <div class="alert2 alert-dismissable fade in" id="actualizacion" style="display:none; width:80%; height:80px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>Se actualizó el playlist FIESTA ATMOS </strong> en Spotify
        </div>

        <div class="alert2 alert-dismissable fade in" id="floating_alert" style="display:none; width:80%; height:80px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>El playlist se guardó </strong> como FIESTA ATMOS en Spotify
        </div>
        
        <div class="alert2 alert-dismissable fade in" id="nuevoPlaylist" style="display:none; width:80%; height:30px; background-color: white; font-family: 'Lato', sans-serif; font-size:130%; margin: 0 auto; border-radius:5px;">
            <strong>Actualizando playlist! </strong>
        </div>
    
            
   
            
	<div class="be-fixed-filter"></div>
	

            
	</body>
    
    
    
    
   <!-- <% if(mensaje == "nuevo_playlist"){ %>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="background-color:white; font-size:150%;">&times;</a>
            <strong>You created</strong> a new playlist.
        </div>
    <% }else if(mensaje == "nuevo_usuario"){ %>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>Welcome</strong> to the community.
        </div>
    <% }else if(mensaje == "nuevo_login"){%>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>We hope</strong> you find new great music!
        </div>
    <%}else if(mensaje == "error_save_track") {%>
         <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>Error</strong> saving the tracks to your library!
        </div>
    <%} %> -->
    
  
    
</html>

 <script>
     
     Element.prototype.remove = function() {
        this.parentElement.removeChild(this);
    }
        NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
            for(var i = this.length - 1; i >= 0; i--) {
                if(this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }
        
        
        setTimeout(function(){
                
                $.post('/preferencias', function(data, status){
            console.log(status)
            if(status == "success"){
                console.log('Preferencias exitoso')
                console.log(data.danceability)
                
                    var ctx = document.getElementById("myChart").getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'radar',
                        data: {
                            labels: ["Danzabilidad", "Energía Promedio", "Popularidad de Música", "Música Acustica", "Instrumentalidad", "Música en Vivo","Positivismo"],
                            datasets: [{
                                label: 'Preferencias',
                                data: [data.danceability*100, data.energia*100, data.popularidadAvg, data.acustica*100, data.instrumental*100, data.audiencia*100,data.positivismo*100],
                                backgroundColor: [
                                    'rgba(55, 99, 252,0.5)'
                                ],
                                borderColor: [
                                    '#d5573b'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                            legend: {
                                labels: {
                                    // This more specific font property overrides the global property
                                    fontColor: 'black', 
                                    fontSize: 12
                                }
                            },
                            scale: {
                                pointLabels: {
                                  fontSize: 10,
                                  fontColor: 'black'
                              },
                            }
                        }
                    });
     
                
                var tr = document.getElementById('tono');
                
                var tonoT = document.createElement('th')
                tonoT.innerHTML = "Tono"
                
                switch(Math.round(data.fundamental)) {
                    case 0:
                        data.fundamental = 'C';
                        break;
                    case 1:
                        data.fundamental = 'C#/Db';
                        break;
                    case 2:
                        data.fundamental = 'D';
                        break;
                    case 3:
                        data.fundamental = 'D#/Eb';
                        break;
                    case 4:
                        data.fundamental = 'E';
                        break;
                    case 5:
                        data.fundamental = 'F';
                        break;
                    case 6:
                        data.fundamental = 'F#/Gb';
                        break;
                    case 7:
                        data.fundamental = 'G';
                        break;
                    case 8: 
                        data.fundamental = 'G#/Ab';
                        break;
                    case 9: 
                        data.fundamental = 'A';
                        break;
                    case 10: 
                        data.fundamental = 'A#/Bb';
                        break;
                    case 11: 
                        data.fundamental = 'B';
                        break;
                };
                
                var tono = document.createElement('td')
                tono.innerHTML = data.fundamental
                
                tr.appendChild(tonoT)
                tr.appendChild(tono)
                
                var trModo = document.getElementById('modo');
                
                var modoT = document.createElement('th')
                modoT.innerHTML = "Modo"
                    
                switch(Math.round(data.modo)){
                    case 0:
                        data.modo = 'Menor';
                        break;
                    case 1:
                        data.modo = 'Mayor';
                        break;
                }
                        
                var modo = document.createElement('td')
                modo.innerHTML = data.modo
                
                trModo.appendChild(modoT)
                trModo.appendChild(modo)
                
                var trVol = document.getElementById('vol')
                
                var volT = document.createElement('th')
                volT.innerHTML = "Volumen"
                
                var vol = document.createElement('td')
                vol.innerHTML = data.amplitud.toFixed(1) + ' dB'
                
                trVol.appendChild(volT)
                trVol.appendChild(vol)
                
                var trTempo = document.getElementById('tempo')
                
                var tempoT = document.createElement('th')
                tempoT.innerHTML = "Tempo"
                
                var tempo = document.createElement('td')
                tempo.innerHTML = data.tempo + " BPM"
                
                trTempo.appendChild(tempoT)
                trTempo.appendChild(tempo)
                
                var trBeats = document.getElementById('beats')
                
                var beatsT = document.createElement('th')
                beatsT.innerHTML = "Beats x Compás"
                
                var beats = document.createElement('td')
                beats.innerHTML = data.firma_tiempo
                
                trBeats.appendChild(beatsT)
                trBeats.appendChild(beats)
                
                var trDuracion = document.getElementById('duracion')
                
                var durT = document.createElement('th')
                durT.innerHTML = 'Duración'
                
                var dur = document.createElement('td')
                dur.innerHTML = data.duracion/60000 + ' minutos'
                
                trDuracion.appendChild(durT)
                trDuracion.appendChild(dur)
            }
        })
        
        }, 1000);
     
        
        
        document.getElementById('createPlaylist').addEventListener('click', function(){
            $.get('/create/playlist', function(data, status){
                console.log(status)
                
                if(status == "success"){
                    if(data=="playlistGuardado"){
                        document.getElementById('floating_alert').style.display="block"
                        console.log(data)
                        setTimeout(function(){
                            document.getElementById('floating_alert').style.display="none"
                        }, 2000);
                        
                    }else if(data=="ActualizacionPlaylist"){
                        console.log(data)
                        document.getElementById('actualizacion').style.display="block"
                        setTimeout(function(){
                            document.getElementById('actualizacion').style.display="none"
                        }, 2000);
                    }
                    
                }
                
            })
        })
        
        document.getElementById('createPlaylist2').addEventListener('click', function(){
            $.get('/create/playlist', function(data, status){
                console.log(status)
                
                if(status == "success"){
                    if(data=="playlistGuardado"){
                        document.getElementById('floating_alert').style.display="block"
                        console.log(data)
                        setTimeout(function(){
                            document.getElementById('floating_alert').style.display="none"
                        }, 2000);
                    }else if(data=="ActualizacionPlaylist"){
                        console.log(data)
                        document.getElementById('actualizacion').style.display="block"
                        setTimeout(function(){
                            document.getElementById('actualizacion').style.display="none"
                        }, 2000);
                    }
                    
                }
                
            })
        })
     
        
        $('#btnEntrar').on('click',function(){
            $('#formCodigo').css("display","inherit");
        })
        
        document.getElementById('enterPool').addEventListener('click', function() {
            
            $('#formCodigo').css("display","none");
            
            $.get( '/pool', function(data, status) {
                console.log(data)
                console.log(status)
                if(status === "success"){
                    
                    var botonPool = document.getElementById('btnActualizar')
                    botonPool.innerHTML = "Actualizar Playlist"
                    botonPool.style="width:50%; border: none; background-color:#FFF; margin:0 auto 20px auto; color:#94c9a9;"
                    var icono = document.createElement('i')
                    icono.className ="fas fa-sync-alt"
                    icono.style="font-size:20px; color:#94c9a9; margin-left:5px;"
                    botonPool.appendChild(icono)
                    
                document.getElementById('createPlaylist').style.display="block"
                    
                    
                    
                console.log('El playlist ha cambiado')
                   data.forEach(function(item,index){
                       if(document.getElementById("pool"+index) !== null){
                            document.getElementById("pool"+index).remove();
                            console.log("Depuración de playlist")
                            
                            if(index == 1){
                                console.log('cargando mensaje')
                                document.getElementById('nuevoPlaylist').style.display="block"
                                console.log(data)
                                setTimeout(function(){
                                    document.getElementById('nuevoPlaylist').style.display="none"
                                }, 2000);
                            }
                            
                       }
                      
                        playlist = data
                        
                       console.log(item)
                       var iDiv = document.createElement('div');
                        iDiv.id = 'pool' + index;
                        iDiv.className = 'col-lg-4 col-md-4 col-xs-12 col-sm-4';
                        iDiv.style = "padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; "

                        // Create the inner div before appending to the body
                        var innerDiv = document.createElement('div');
                        innerDiv.className = 'be-post';
                        innerDiv.style = ' background-color: rgba(255,255,255,0.9); color:#d5573b; max-height:400px; max-width:250px;';

                        // The variable iDiv is still good... Just append to it.
                        iDiv.appendChild(innerDiv);
                       
                        /*var form = document.createElement("form")
                        form.method="post"
                        form.action="/track/profile"
                        form.id="trackprofile" */
                        
                        var boton = document.createElement("span")
                        boton.className="be-img-block"
                        boton.form="trackprofile"
                        boton.type="submit"
                        boton.name="index"
                        boton.value= index
                        boton.style=" -webkit-appearance: none;-webkit-border-radius: 0px; max-height:400px; max-width:250px;"
                        
                        innerDiv.appendChild(boton)
                        
                        var img= document.createElement("img")
                        img.src=item[4]
                        img.alt="omg"
                        img.style="max-width:200px;"
                        
                        boton.appendChild(img)
                        
                        var span = document.createElement("span")
                        span.className="be-post-title"
                        span.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; max-height:60px;"
                        
                        span.innerHTML = item[0]
                        
                        innerDiv.appendChild(span)
                        
                        var a = document.createElement('a')
                        a.className="close"
                        a.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        a.id="fadeOut" + index
                        a.innerHTML ="&times;"
                        
                        innerDiv.appendChild(a)
                        
                        var span2 = document.createElement("span")
                        span2.style="color:#885053; font-size:120%;max-height:20px;"
                        span2.innerHTML="Popularidad: " + item[5]
                        
                        innerDiv.appendChild(span2)
                        
                        var div2 = document.createElement("div")
                        div2.className="author-post"
                        
                        innerDiv.appendChild(div2)
                        
                        var span3= document.createElement("span")
                        span3.style="color:#885053; font-size:150%;max-height:20px;"
                        span3.innerHTML="Por " + item[2]
                        
                        div2.appendChild(span3)

                        // Then append the whole thing onto the body
                        document.getElementsByClassName('pool')[0].appendChild(iDiv);
                       
                    
                       
                       
                       console.log('Nueva canción desplegada')
                   })
                }else{
                    console.log(data);
                }
                
            })
        })
    
     
        document.getElementById('btnActualizar').addEventListener('click', function() {
            console.log('Actualizando POOL2')
           
            
            $.get( '/pool', function(data, status) {
                console.log(data)
                console.log(status)
                if(status === "success"){
                        
                console.log('El playlist ha cambiado')
                   data.forEach(function(item,index){
                       if(document.getElementById("pool"+index) !== null){
                            document.getElementById("pool"+index).remove();
                            console.log("Depuración de playlist")
                            
                            if(index == 1){
                                console.log('cargando mensaje')
                                document.getElementById('nuevoPlaylist').style.display="block"
                                console.log(data)
                                setTimeout(function(){
                                    document.getElementById('nuevoPlaylist').style.display="none"
                                }, 2000);
                            }
                            
                       }
                      
                        playlist = data
                        
                       console.log(item)
                       var iDiv = document.createElement('div');
                        iDiv.id = 'pool' + index;
                        iDiv.className = 'col-lg-4 col-md-4 col-xs-12 col-sm-4';
                        iDiv.style = "padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; "

                        // Create the inner div before appending to the body
                        var innerDiv = document.createElement('div');
                        innerDiv.className = 'be-post';
                        innerDiv.style = ' background-color: rgba(255,255,255,0.9); color:#d5573b; max-height:400px; max-width:250px;';

                        // The variable iDiv is still good... Just append to it.
                        iDiv.appendChild(innerDiv);
                       
                        /*var form = document.createElement("form")
                        form.method="post"
                        form.action="/track/profile"
                        form.id="trackprofile" */
                        
                        var boton = document.createElement("span")
                        boton.className="be-img-block"
                        boton.form="trackprofile"
                        boton.type="submit"
                        boton.name="index"
                        boton.value= index
                        boton.style=" -webkit-appearance: none;-webkit-border-radius: 0px; max-height:400px; max-width:250px;"
                        
                        innerDiv.appendChild(boton)
                        
                        var img= document.createElement("img")
                        img.src=item[4]
                        img.alt="omg"
                        img.style="max-width:200px;"
                        
                        boton.appendChild(img)
                        
                        var span = document.createElement("span")
                        span.className="be-post-title"
                        span.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; max-height:60px;"
                        
                        span.innerHTML = item[0]
                        
                        innerDiv.appendChild(span)
                        
                        var a = document.createElement('a')
                        a.className="close"
                        a.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        a.id="fadeOut" + index
                        a.innerHTML ="&times;"
                        
                        innerDiv.appendChild(a)
                        
                        var span2 = document.createElement("span")
                        span2.style="color:#885053; font-size:120%;max-height:20px;"
                        span2.innerHTML="Popularidad: " + item[5]
                        
                        innerDiv.appendChild(span2)
                        
                        var div2 = document.createElement("div")
                        div2.className="author-post"
                        
                        innerDiv.appendChild(div2)
                        
                        var span3= document.createElement("span")
                        span3.style="color:#885053; font-size:150%;max-height:20px;"
                        span3.innerHTML="Por " + item[2]
                        
                        div2.appendChild(span3)

                        // Then append the whole thing onto the body
                        document.getElementsByClassName('pool')[0].appendChild(iDiv);
                       
                    
                       
                       
                       console.log('Nueva canción desplegada')
                   })
                }else{
                    console.log(data);
                }
                
            })
        })
        
        $('#btnEntrar2').on('click',function(){
            $('#formCodigo2').css("display","inherit");
        })
        
        document.getElementById('enterPool2').addEventListener('click', function() {
            
            $('#formCodigo2').css("display","none");
            
            $.get( '/pool', function(data, status) {
                console.log(data)
                console.log(status)
                if(status === "success"){
                    
                    var botonPool = document.getElementById('btnActualizar2')
                    botonPool.innerHTML = "Actualizar Playlist"
                    botonPool.style="width:80%; border: none; background-color:#FFF; margin:0 auto 20px auto; color:#94c9a9;"
                    var icono = document.createElement('i')
                    icono.className ="fas fa-sync-alt"
                    icono.style="font-size:20px; color:#94c9a9; margin-left:5px;"
                    botonPool.appendChild(icono)
                    
                    document.getElementById('btnCrear2').style.display="none"
                    document.getElementById('createPlaylist2').style.display="block"
                    
                console.log('El playlist ha cambiado')
                   data.forEach(function(item,index){
                       if(document.getElementById("pool"+index) !== null){
                            document.getElementById("pool"+index).remove();
                            console.log("Depuración de playlist")
                            
                            if(index == 1){
                                console.log('cargando mensaje')
                                document.getElementById('nuevoPlaylist').style.display="block"
                                console.log(data)
                                setTimeout(function(){
                                    document.getElementById('nuevoPlaylist').style.display="none"
                                    console.log("ya no está el mensaje");
                                }, 2000);
                            }
                            
                       }
                      
                        playlist = data
                        
                       console.log(item)
                       var iDiv = document.createElement('div');
                        iDiv.id = 'pool' + index;
                        iDiv.className = 'col-lg-4 col-md-4 col-xs-12 col-sm-4';
                        iDiv.style = "padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; "

                        // Create the inner div before appending to the body
                        var innerDiv = document.createElement('div');
                        innerDiv.className = 'be-post';
                        innerDiv.style = ' background-color: rgba(255,255,255,0.9); color:#d5573b; max-height:400px; max-width:250px;';

                        // The variable iDiv is still good... Just append to it.
                        iDiv.appendChild(innerDiv);
                       
                        /*var form = document.createElement("form")
                        form.method="post"
                        form.action="/track/profile"
                        form.id="trackprofile"
                        
                        innerDiv.appendChild(form) */
                        
                        var boton = document.createElement("span")
                        boton.className="be-img-block"
                        boton.form="trackprofile"
                        boton.type="submit"
                        boton.name="index"
                        boton.value= index
                        boton.style=" -webkit-appearance: none;-webkit-border-radius: 0px; max-height:400px; max-width:250px;"
                        
                        innerDiv.appendChild(boton)
                        
                        var img= document.createElement("img")
                        img.src=item[4]
                        img.alt="omg"
                        img.style="max-width:200px;"
                        
                        boton.appendChild(img)
                        
                        var span = document.createElement("span")
                        span.className="be-post-title"
                        span.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; max-height:60px;"
                        
                        span.innerHTML = item[0]
                        
                        innerDiv.appendChild(span)
                        
                        var a = document.createElement('a')
                        a.className="close"
                        a.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        a.id="fadeOut" + index
                        a.innerHTML ="&times;"
                        
                        innerDiv.appendChild(a)
                        
                        var span2 = document.createElement("span")
                        span2.style="color:#885053; font-size:120%;max-height:20px;"
                        span2.innerHTML="Popularidad: " + item[5]
                        
                        innerDiv.appendChild(span2)
                        
                        var div2 = document.createElement("div")
                        div2.className="author-post"
                        
                        innerDiv.appendChild(div2)
                        
                        var span3= document.createElement("span")
                        span3.style="color:#885053; font-size:150%;max-height:20px;"
                        span3.innerHTML="Por " + item[2]
                        
                        div2.appendChild(span3)

                        // Then append the whole thing onto the body
                        document.getElementsByClassName('pool')[0].appendChild(iDiv);
                       
                    
                       
                       
                       console.log('Nueva canción desplegada')
                   })
                }else{
                    console.log(data);
                }
                
            })
        })
        
        
        document.getElementById('btnActualizar2').addEventListener('click', function() {
            console.log('Actualizando POOL2')
            
            $.get( '/pool', function(data, status) {
                console.log(data)
                console.log(status)
                if(status === "success"){
                    
                    var botonPool = document.getElementById('btnActualizar2')
                    botonPool.innerHTML = "Actualizar Playlist"
                    botonPool.style="width:80%; border: none; background-color:#FFF; margin:0 auto 20px auto; color:#94c9a9;"
                    var icono = document.createElement('i')
                    icono.className ="fas fa-sync-alt"
                    icono.style="font-size:20px; color:#94c9a9; margin-left:5px;"
                    botonPool.appendChild(icono)
                    
                    document.getElementById('btnCrear2').style.display="none"
                    document.getElementById('createPlaylist2').style.display="block"
                    
                console.log('El playlist ha cambiado')
                   data.forEach(function(item,index){
                       if(document.getElementById("pool"+index) !== null){
                            document.getElementById("pool"+index).remove();
                            console.log("Depuración de playlist")
                            
                            if(index == 1){
                                console.log('cargando mensaje')
                                document.getElementById('nuevoPlaylist').style.display="block"
                                console.log(data)
                                setTimeout(function(){
                                    document.getElementById('nuevoPlaylist').style.display="none"
                                    console.log("ya no está");
                                }, 2000);
                            }
                            
                       }
                      
                        playlist = data
                        
                       console.log(item)
                       var iDiv = document.createElement('div');
                        iDiv.id = 'pool' + index;
                        iDiv.className = 'col-lg-4 col-md-4 col-xs-12 col-sm-4';
                        iDiv.style = "padding-left:30px; padding-right:30px; margin-bottom:0px; height:400px !important; "

                        // Create the inner div before appending to the body
                        var innerDiv = document.createElement('div');
                        innerDiv.className = 'be-post';
                        innerDiv.style = ' background-color: rgba(255,255,255,0.9); color:#d5573b; max-height:400px; max-width:250px;';

                        // The variable iDiv is still good... Just append to it.
                        iDiv.appendChild(innerDiv);
                       
                        /*var form = document.createElement("form")
                        form.method="post"
                        form.action="/track/profile"
                        form.id="trackprofile"
                        
                        innerDiv.appendChild(form) */
                        
                        var boton = document.createElement("span")
                        boton.className="be-img-block"
                        boton.form="trackprofile"
                        boton.type="submit"
                        boton.name="index"
                        boton.value= index
                        boton.style=" -webkit-appearance: none;-webkit-border-radius: 0px; max-height:400px; max-width:250px;"
                        
                        innerDiv.appendChild(boton)
                        
                        var img= document.createElement("img")
                        img.src=item[4]
                        img.alt="omg"
                        img.style="max-width:200px;"
                        
                        boton.appendChild(img)
                        
                        var span = document.createElement("span")
                        span.className="be-post-title"
                        span.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif; max-height:60px;"
                        
                        span.innerHTML = item[0]
                        
                        innerDiv.appendChild(span)
                        
                        var a = document.createElement('a')
                        a.className="close"
                        a.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        a.id="fadeOut" + index
                        a.innerHTML ="&times;"
                        
                        innerDiv.appendChild(a)
                        
                        var span2 = document.createElement("span")
                        span2.style="color:#885053; font-size:120%;max-height:20px;"
                        span2.innerHTML="Popularidad: " + item[5]
                        
                        innerDiv.appendChild(span2)
                        
                        var div2 = document.createElement("div")
                        div2.className="author-post"
                        
                        innerDiv.appendChild(div2)
                        
                        var span3= document.createElement("span")
                        span3.style="color:#885053; font-size:150%;max-height:20px;"
                        span3.innerHTML="Por " + item[2]
                        
                        div2.appendChild(span3)

                        // Then append the whole thing onto the body
                        document.getElementsByClassName('pool')[0].appendChild(iDiv);
                       
                    
                       
                       
                       console.log('Nueva canción desplegada')
                   })
                }else{
                    console.log(data);
                }
                
            })
        })
        
        
        
        
        
       
</script>

<script>

    $('#btnPerfil').on('click',function(){
        $('#fondoIphone').css("background","url('img/fondo4.png') no-repeat");
        $('#fondoIphone').css("background-position","center");
        $('#fondoIphone').css("background-size","cover");
        /*$('body').css("background","url('img/fondo4.png') no-repeat");
        $('body').css("background-size","cover");
        $('body').css("background-attachment","fixed");
        $('body').css("width","100%");
        $('body').css("background-position","center");*/
        
        window.scrollTo(0,0);
    });
    
    $('#btnTop50').on('click',function(){
        $('#fondoIphone').css("background","url('img/fondo7.png') no-repeat");
        $('#fondoIphone').css("background-position","center");
        $('#fondoIphone').css("background-size","cover");
        /*$('body').css("background","url('img/fondo7.png') no-repeat");
        $('body').css("background-size","cover");
        $('body').css("background-attachment","fixed");
        $('body').css("width","100%");*/
        
        window.scrollTo(0,0);
        
        
    });
    
    $('#btnFiesta').on('click',function(){
        $('#fondoIphone').css("background","url('img/fondo2.jpg') no-repeat");
        $('#fondoIphone').css("background-position","center");
        $('#fondoIphone').css("background-size","cover");
        /*$('body').css("background","url('img/fondo2.jpg') no-repeat");
        $('body').css("background-size","cover");
        $('body').css("background-attachment","fixed");
        $('body').css("width","100%");
        $('body').css("background-position","center");*/
        
        window.scrollTo(0,0);
    });
    
    $('#btnAjustes').on('click',function(){
        
        
        var ancho = $( window ).width();
        
        console.log(ancho);
        
        window.scrollTo(0,0);
        
        if(ancho > 577){
            $('#fondoIphone').css("background","url('img/fondo8.png') no-repeat");
            $('#fondoIphone').css("background-position","center");
            $('#fondoIphone').css("background-size","cover");
            /*$('body').css("background","url('img/fondo8.png') no-repeat");
            $('body').css("background-position","0 100%");
            $('body').css("background-size","cover");
            $('body').css("background-attachment","fixed");
            $('body').css("width","100%");*/
        }else{  
            
            $('#fondoIphone').css("background","url('img/fondo9.png') no-repeat");
            $('#fondoIphone').css("background-position","center");
            $('#fondoIphone').css("background-size","cover");
            /*$('body').css("background","url('img/fondo9.png') no-repeat");
            $('body').css("background-position","center");
            $('body').css("background-size","cover");
            $('body').css("background-attachment","fixed");
            $('body').css("width","100%");*/
        }
        
        
        
        

    });
    
    var iOS = !!navigator.platform && /iPad|iPhone|iPod/.test(navigator.platform);
    
    if(iOS){
                
        $('#content-block').css("margin-top","50px");
        //$('body').css("background","none");
        //$('#fondoIphone').css("display","block");

    }
    
    
    
    $('#btnCrear').on('click',function(){
        $('#btnCrear').css("display","none");
        $('#btnEntrar').css("display","none");
    })
    $('#btnEntrar').on('click',function(){
        $('#btnCrear').css("display","none");
        $('#btnEntrar').css("display","none");
    })
    
    $('#btnCrear2').on('click',function(){
        $('#btnCrear2').css("display","none");
        $('#btnEntrar2').css("display","none");
    })
    $('#btnEntrar2').on('click',function(){
        $('#btnCrear2').css("display","none");
        $('#btnEntrar2').css("display","none");
    })
    
    $('#formCancelar').on('click',function(){
        $('#formCodigo').css("display","none");
        $('#btnCrear').css("display","inline-block");
        $('#btnEntrar').css("display","inline-block");
    })
    
    $('#formCancelar2').on('click',function(){
        $('#formCodigo2').css("display","none");
        $('#btnCrear2').css("display","inline-block");
        $('#btnEntrar2').css("display","inline-block");
    })

</script>

                        

     