<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs  %>
           <% include ../partials/footer.ejs  %>
		<!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="style/ie-9.css" />
		<![endif]-->		
		<!--[if lt IE 9]>
		    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
        
        <link href="https://fonts.googleapis.com/css?family=Kanit" rel="stylesheet">
         <script type="text/javascript" src="/script/Chart.js"></script>
	</head>
    
   <style>
    .cancion {

    @media (max-width: @iphone-screen) {
        background-attachment: scroll;
    }
}
    </style>
    
	<body class="page-login">

        
        <div>
        
	<!-- THE HEADER -->
	<header>
		<% include ../pages/navbar.ejs %>
	</header>	


	<!-- MAIN CONTENT -->
	<div id="content-block" style="margin-top:0px;">
		<div class="container be-detail-container">
			<div class="row">
				
                
				<div class="col-xs-12 col-md-8 col-lg-8" style="margin: 0 auto; align-items:center; float:inherit;" align="center">
                    <div class="tab-wrapper style-1" style="margin: 0 auto;" >
                        
                        <div class="container-fuild tabs-content clearfix">
                           
                            <div style="background: url('img/fondo4.jpeg') no-repeat; background-size:100%;background-attachment:fixed; width:100%; ">
                             
                                <div class="tab-info active"  >
								<div class="row">
                                    
                                    <div class="col-xs-12 col-md-12 col-lg-12 left-feild" >
					<div class="be-user-block style-3" style="background-color: rgba(255,255,255,0.5); border-radius:5px;">
						<div class="be-user-detail">
							<a class="be-ava-user style-2" >
                                <% if(imagen_url){ %>
                                    <img src="<%=imagen_url%>" style="border-radius:5px;"  alt=""> 
                              <%  }else{ %>
                                    <img src="img/Perfil.png" style="border-radius:5px; "  alt=""> 
                               <% } %>
								
							</a>
							<!-- <a class="be-ava-left btn color-1 size-2 hover-1" href="author-edit.ejs"><i class="fa fa-pencil"></i>Edit</a 
							<div class="color-4 size-2 hover-7">
								
							</div>-->
							<p class="be-use-name"><%= nombre %></p>
							<div class="be-user-info" style="color:black;">
								<%= pais%>
							</div>
						</div>
						<div class="be-user-statistic" style="border-radius:5px;">
							
							<div class="stat-row clearfix"  style="background-color:#d5573b; border-radius:5px;"><i class="fas fa-users" style="font-size:20px;"></i>   Seguidores de Spotify<span class="stat-counter"> <%=followers%></span></div>
							
						</div>
					</div>
                    									
				</div>
            
                <div class="clearfix"></div>
										<div class="col-md-12">
					
                     <h2 style="text-align: center; font-family: 'Kanit', serif; background-color: rgb(255,255,255); border-radius:5px; margin-top:0; color:#777da7;">Perfil</h2>
                    
                        <br/>
                                            
                        <canvas id="myChart" width="400" height="400" style="background-color:rgba(255,255,255,0); border-radius:5px; color:white; max-width:400px; margin: 0 auto;"></canvas>
                                            <br> 
                    
                    <table class="table" style="background-color: rgba(255,255,255,0.5); border-radius:5px; margin-bottom:50px;">
                        <thead>
                            <tr>
                                <th>Variables</th>
                                <td>Mi perfil</td>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Danzabilidad</th>
                                <td><%=danceability.toFixed(1)%>/100</td>
                              
                            </tr>
                            <tr>
                                <th>Energy</th>
                                <td><%=energia.toFixed(1)%>/100</td>
                                
                            </tr>
                            <tr>
                                <th>Key</th>
                                <% 
                                switch(Math.round(fundamental)) {
                                    case 0:
                                        fundamental = 'C';
                                        break;
                                    case 1:
                                        fundamental = 'C#/Db';
                                        break;
                                    case 2:
                                        fundamental = 'D';
                                        break;
                                    case 3:
                                        fundamental = 'D#/Eb';
                                        break;
                                    case 4:
                                        fundamental = 'E';
                                        break;
                                    case 5:
                                        fundamental = 'F';
                                        break;
                                    case 6:
                                        fundamental = 'F#/Gb';
                                        break;
                                    case 7:
                                        fundamental = 'G';
                                        break;
                                    case 8: 
                                        fundamental = 'G#/Ab';
                                        break;
                                    case 9: 
                                        fundamental = 'A';
                                        break;
                                    case 10: 
                                        fundamental = 'A#/Bb';
                                        break;
                                    case 11: 
                                        fundamental = 'B';
                                        break;
                                };
                               
                                %>
                                <td><%=fundamental%></td>
                               
                            </tr>
                            <tr>
                                <th>Loudness</th>
                                <td><%=amplitud.toFixed(1)%> dB</td>
                                
                            </tr>
                            <tr>
                                <th>Mode</th>
                                <%
                                switch(Math.round(modo)){
                                    case 0:
                                        modo = 'Minor';
                                        break;
                                    case 1:
                                        modo = 'Major';
                                        break;
                                };
                                
                                %>
                                <td><%=modo%></td>
                                
                            </tr>
                            <tr>
                                <th>Speechiness</th>
                                <td><%=dialogo.toFixed(1)%>/100</td>
                                
                            </tr>
                            <tr>
                                <th>Acousticness</th>
                                <td><%=acustica.toFixed(1)%>/100</td>
                                
                            </tr>
                            <tr>
                                <th>Instrumentalness</th>
                                <td><%=instrumental.toFixed(1)%>/100</td>
                            </tr>
                            <tr>
                                <th>Liveness</th>
                                <td><%=audiencia.toFixed(1)%>/100</td>
                            </tr>
                            <tr>
                                <th>Valence</th>
                                <td><%=positivismo.toFixed(1)%>/100</td>
                            </tr>
                            <tr>
                                <th>Tempo</th>
                                <td><%=tempo.toFixed(1)%> BPM</td>
                            </tr>
                            <tr>
                                <th>Duration</th>
                                <td><%=duracion.toFixed(1)%> Minutes Average</td>
                                
                            </tr>
                            <tr>
                                <th>Beats per bar</th>
                                <td><%=Math.round(firma_tiempo)%></td>
                            </tr>
                        </tbody>
                    </table>							
									</div>
								</div>
                            </div>
                                
                            </div>
                            
                            <div class="tab-info "> 
                                
                        <div class="col-lg-12">
                            
                            <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:10px; margin-top:0px; color:#885053; font-size: 40px; background-color: rgba(255,255,255,0.9); border-radius:5px;">Top 50</h2>
            
                        </div> 
                                
                            <div class="row" style="margin-bottom:100px;">

                                        <% 
                                if(mensaje == 'nuevo_usuario'){ 
                                    
                                    seedTracks.forEach(function(records, index){ %>
                                
                                    <div class="col-ml-12 col-xs-12 col-sm-4" id="track<%=index%>" style="height:448px !important; padding-left:30px;padding-right:30px; margin-bottom:0px;">
                                        
                                    <div class="be-post" style=" background-color: rgba(255,255,255,0.5); color:#d5573b;">
                                        
                                        <form method="post" action="/track/profile" id="trackprofile">
                                        <button class="be-img-block" form="trackprofile" type="submit" name="index"  value="<%=index%>" style="min-height:100px;"> 
                                        <% if(records.album.images[0] != undefined){ %>    
                                        <img src="<%=records.album.images[0].url%>" alt="omg" style="min-height:100px; !important; min-width:100%;" class="cancion">
                                        <% } else{ %>
                                          <img src="" alt="omg">      
                                        <%    } %>
                                        </button>   
                                        </form>
                                        
                                        <span class="be-post-title" style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"><%= records.name %></span> 
                                        
                                        <span style="color:#885053; font-size:120%;">
                                            Popularity: <%=records.popularity%> %
                                        </span>
                                        <div class="author-post">
                                            <span style="color:#885053; font-size:150%;">by <%=records.artists[0].name%></span>
                                        </div>
                                    </div>
                                        
                                  </div>
                                
                                        
                                
                                <%})
                                    
                                    
                                }else{
                                    
                             
                                
                                seedTracks.forEach(function(records, index){ %>
                                
                                    <div class="col-ml-12 col-xs-12 col-sm-4" id="track<%=index%>" style="height:448px !important; padding-left:30px; padding-right:30px; margin-bottom:0px;">
                                        
                                    <div class="be-post" style=" background-color: rgba(255,255,255,0.5); ">
                                        
                                        <form method="post" action="/track/profile" id="trackprofile">
                                        <button class="be-img-block" form="trackprofile" type="submit" name="index"  value="<%=index%>"> 
                                        <% if(records.albumImagen != undefined){ %>    
                                        <img src="<%=records.album.images[0].url%>" alt="omg" style="min-height:100px; !important; min-width:100%;" class="cancion">
                                        <% } else{ %>
                                          <img src="" alt="omg">      
                                        <%    } %>
                                        </button>   
                                        </form>
                                        
                                        <span class="be-post-title" style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"><%= records.nombre %></span> 
                                       
                                        <span style="color:#885053; font-size:120%;">
                                            Popularity: <%=records.popularidad%> %
                                        </span>
                                        <div class="author-post">
                                            <span style="color:#885053; font-size:150%;">by <%=records.artistas%></span>
                                        </div>
                                    </div>
                                        
                                  </div>
                                        
                                
                                <%
                                })    
                                       }
                                    
                               %>
                                
                                
                                
                                </div> 
                            </div> 
                            
                           
                            
                            
                           <div class="tab-info">
								<div class="row" style="margin-bottom:100px;">
                                    <div class="col-lg-12">
                            
                                        <h2 style="text-align:center; font-family: 'Kanit', sans-serif; margin-bottom:10px; margin-top:0px; color:#94c9a9; font-size: 40px; background-color: rgba(255,255,255,0.9); border-radius:5px;">Fiesta</h2>
                                        
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget blue-style" style="width:80%; border: none; background-color:#94c9a9; margin:0 auto;"  id="enterPool">
                                            <i class="far fa-play-circle" style="font-size:20px; color:white; margin-left:5px;"></i> Entra a la Fiesta 
                                        </button>
                                        <br>
                                        
                                        <button  type="submit" value="Submit" class="be-button-vidget blue-style" style="margin: 0 auto; width:80%; border:none; background-color:#94c9a9;display:none;" id="createPlaylist">
                                            <i class="far far fa-save" style="font-size:20px; color:white; margin-left:5px;"></i> Guardar Playlist En Spotify 
                                        </button>
                                        
                                        <br>
                                         </div> 
                                    
                                   
                                    
                                 
                                    
                                    <div class="pool"></div>

                               

                                   
								</div>
                            </div>
                            
                            
                            <div class="tab-info">
								<div class="row">
										<div class="col-md-12">
                                            <h2 style="text-align: center; font-family: 'Josefin Slab', serif;">Configuración</h2>
                                            <br/>							
									</div>
								</div>
                            </div>
                            
                            
                            
                        </div>
                    
                    
                        <div class="tab-nav-wrapper" style="position:fixed; left:0; bottom:0; z-index:10; width:100%;">
                                <div  class="nav-tab  clearfix" style="width:100%;">
                                   
                                        <div class="row" style="width:100%; margin:0; text-align:center;">
                                            
                                            <div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 active " style="width:100%; margin:0; padding:0;">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-user" style="font-size:20px; color:#777da7"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#777da7">Perfil</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item  " style="width:100%; margin:0; padding:0;">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-music" style="font-size:20px; color:#885053"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#885053">Top 50</span>
                                                </div>
                                            </div>
                                            <div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 " style="width:100%; margin:0; padding:0;">
                                                    <span style="padding:10px 0 0 0;"><i class="far fa-play-circle" style="font-size:20px; color:#94c9a9"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#94c9a9">Fiesta</span>
                                                </div>
                                            </div> 
                                            <div class="col-xs-6" style="width:25%; margin:0; padding:0;">
                                                <div class="nav-tab-item col-xs-6 " style="width:100%; margin:0; padding:0;">
                                                    <span style="padding:10px 0 0 0;"><i class="fas fa-cogs" style="font-size:20px; color:#d5573b"></i></span>
                                                    <span style="font-size:10px; padding:5px 0 5px 0;color:#d5573b">Ajustes</span>
                                                </div>
                                            </div> 
                                    </div>
                                        
                        </div>
                         </div>
                    </div>				
				</div>				
			</div>
            
		</div>
	</div>
            
        <div class="alert alert-success alert-dismissable fade in" id="actualizacion" style="display:none; width:80%; height:80px;">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="background-color:white; font-size:100%;">&times;</a>
            <strong>Se actualizó el playlist</strong> como FIESTA ATMOS en Spotify
        </div>
        <br>

        <div class="alert2 alert-dismissable fade in" id="floating_alert" style="display:none; width:80%; height:80px;">
            <a href="#" class="close" data-dismiss="alert2" aria-label="close" style="background-color:white; font-size:100%;">&times;</a>
            <strong>El playlist se guardó </strong> como FIESTA ATMOS en Spotify
        </div>
    
            
   
            
	<div class="be-fixed-filter"></div>
	

            </div>
	</body>
    
    
    
    
   <!-- <% if(mensaje == "nuevo_playlist"){ %>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" style="background-color:white; font-size:150%;">&times;</a>
            <strong>You created</strong> a new playlist.
        </div>
    <% }else if(mensaje == "nuevo_usuario"){ %>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>Welcome</strong> to the community.
        </div>
    <% }else if(mensaje == "nuevo_login"){%>
        <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>We hope</strong> you find new great music!
        </div>
    <%}else if(mensaje == "error_save_track") {%>
         <div class="alert alert-dismissable fade in" id="floating_alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close"  style="background-color:white; font-size:150%;">&times;</a>
            <strong>Error</strong> saving the tracks to your library!
        </div>
    <%} %> -->
    
  
    
</html>

 <script>
     
     Element.prototype.remove = function() {
        this.parentElement.removeChild(this);
    }
        NodeList.prototype.remove = HTMLCollection.prototype.remove = function() {
            for(var i = this.length - 1; i >= 0; i--) {
                if(this[i] && this[i].parentElement) {
                    this[i].parentElement.removeChild(this[i]);
                }
            }
        }
     
        document.getElementById('createPlaylist').addEventListener('click', function(){
            $.get('/create/playlist', function(data, status){
                console.log(status)
                
                if(status == "success"){
                    if(data=="playlistGuardado"){
                        document.getElementById('floating_alert').style.display="block"
                        console.log(data)
                    }else if(data=="ActualizacionPlaylist"){
                        console.log(data)
                        document.getElementById('actualizacion').style.display="block"
                    }
                    
                }
                
            })
        })
        
        document.getElementById('enterPool').addEventListener('click', function() {
            $.get( '/pool', function(data, status) {
                console.log(data)
                console.log(status)
                if(status === "success"){
                    
                    var botonPool = document.getElementById('enterPool')
                    botonPool.innerHTML = "Actualizar Playlist"
                    var icono = document.createElement('i')
                    icono.className ="fas fa-sync-alt"
                    icono.style="font-size:20px; color:white; margin-left:5px;"
                    botonPool.appendChild(icono)
                    
                    document.getElementById('createPlaylist').style.display="block"
                    
                    
                    
                    
                console.log('El playlist ha cambiado')
                   data.forEach(function(item,index){
                       if(document.getElementById("pool"+index) !== null){
                            document.getElementById("pool"+index).remove();
                            console.log("Depuración de playlist")
                       }
                      
                        playlist = data
                        
                       console.log(item)
                       var iDiv = document.createElement('div');
                        iDiv.id = 'pool' + index;
                        iDiv.className = 'col-ml-12 col-xs-12 col-sm-4';
                        iDiv.style = "height:448px !important; padding-left:30px; padding-right:30px; margin-bottom:0px;"

                        // Create the inner div before appending to the body
                        var innerDiv = document.createElement('div');
                        innerDiv.className = 'be-post';
                        innerDiv.style = 'background-color: rgba(255,255,255,0.5);';

                        // The variable iDiv is still good... Just append to it.
                        iDiv.appendChild(innerDiv);
                       
                        var form = document.createElement("form")
                        form.method="post"
                        form.action="/track/profile"
                        form.id="trackprofile"
                        
                        innerDiv.appendChild(form)
                        
                        var boton = document.createElement("button")
                        boton.className="be-img-block"
                        boton.form="trackprofile"
                        boton.type="submit"
                        boton.name="index"
                        boton.value= index
                        
                        form.appendChild(boton)
                        
                        var img= document.createElement("img")
                        img.src=item[4]
                        img.alt="omg"
                        
                        boton.appendChild(img)
                        
                        var span = document.createElement("span")
                        span.className="be-post-title"
                        span.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        
                        span.innerHTML = item[0]
                        
                        innerDiv.appendChild(span)
                        
                        var a = document.createElement('a')
                        a.className="close"
                        a.style="color:#885053; font-size:20px; font-family:'Kanit', sans-serif;"
                        a.id="fadeOut" + index
                        a.innerHTML ="&times;"
                        
                        innerDiv.appendChild(a)
                        
                        var span2 = document.createElement("span")
                        span2.style="color:#885053; font-size:120%;"
                        span2.innerHTML="Popularidad: " + item[5]
                        
                        innerDiv.appendChild(span2)
                        
                        var div2 = document.createElement("div")
                        div2.className="author-post"
                        
                        innerDiv.appendChild(div2)
                        
                        var span3= document.createElement("span")
                        span3.style="color:#885053; font-size:150%;"
                        span3.innerHTML="Por " + item[2]
                        
                        div2.appendChild(span3)

                        // Then append the whole thing onto the body
                        document.getElementsByClassName('pool')[0].appendChild(iDiv);
                       
                    
                       
                       
                       console.log('Nueva canción desplegada')
                   })
                }else{
                    console.log(data);
                }
                
            })
        })
    
        
        var ctx = document.getElementById("myChart").getContext('2d');
var myChart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255,1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        legend: {
            labels: {
                // This more specific font property overrides the global property
                fontColor: 'white', 
            }
        }
    }
});
        
</script>

                        

     